* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: linear-gradient(to right, #000000, #0048ff);
  background: rgb(255, 255, 255);
}

body {
  background-color: rgb(220, 220, 220);
}

.logo {
  color: rgb(0, 21, 255);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: rgb(0, 26, 255);
  font-size: 18px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.head-left {
  display: inline-block;
  height: 600px;
  width: 650px;
  margin-top: 50px;
}

.head-left h1 {
  display: inline-block;

}